# HyperUBot stuff
.vscode/*
hyper.log
backup/*
releases/*
userbot/config.env
userbot/config.ini
userbot/config.py
userbot/secure_config
userbot/userdata
userbot/modules_user/*.py
userbot/*.hbot

# python cache
__pycache__/*
userbot/__pycache__/*
userbot/*/__pycache__/*

# misc
downloads/*
