# tguserbot stuff
xbot.log
tguserbot.session
tg_userbot/config.env
tg_userbot/config.py
tg_userbot/modules_user/*

# python cache
__pycache__/*
tg_userbot/__pycache__/*
tg_userbot/*/__pycache__/*

# misc
downloads/*
