# tguserbot stuff
hyper.log
tguserbot.session
userbot/config.env
userbot/config.py
userbot/modules_user/*.py
userbot/*.hbot

# python cache
__pycache__/*
userbot/__pycache__/*
userbot/*/__pycache__/*

# misc
downloads/*
