colorama>=0.4.4
CurrencyConverter>=0.16
googletrans>=3.0.0
gTTS>=2.2.2
icmplib>=2.1.1
pydub>=0.25.1
python-dateutil>=2.8.1
python-dotenv>=0.15.0
requests>=2.25.1
SpeechRecognition>=3.8.1
speedtest-cli>=2.1.2
Telethon>=1.21.1
uptime>=3.0.1
