colorama>=0.4.4; platform_system=="Windows"
CurrencyConverter>=0.16.1
googletrans>=3.0.0,==4.0.0rc1
gTTS>=2.2.2
icmplib>=3.0
pydub>=0.25.1
python-dateutil>=2.8.1
python-dotenv>=0.17.1
requests>=2.25.1
SpeechRecognition>=3.8.1
speedtest-cli>=2.1.3
Telethon>=1.21.1
uptime>=3.0.1
