# Copyright 2020-2021 nunopenim @github
# Copyright 2020-2021 prototype74 @github
#
# Licensed under the PEL (Penim Enterprises License), v1.0
#
# You may not use this file or any of the content within it, unless in
# compliance with the PE License

# sample_config.env
SAMPLE_CONFIG = True  # Remove this line first before you use this

### Optional configurations
#
# Userbot display language. Default is english ('en')
#
UBOT_LANG = ""  # must match language code

#
# Logs any bot event to the specific chat
#
LOGGING = False  # Enable or disable logging
LOGGING_CHATID = None  # Chat ID. Must be an integer

#
# To store downloaded file(s) (temporary)
#
TEMP_DL_DIR = ""  # Default is './downloads'

#
# Skips load specific module(s) e.g. ["admin"]
#
NOT_LOAD_MODULES = []  # must be a list or config will not work

# Community extra repos, leave as list of strings (or not)
COMMUNITY_REPOS = []
